.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-summary {
    padding: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
    height: 100px;
    width: 600px;
    background-size: cover !important;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
}

.card-blood-sugar-summary {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
    font-size: 15px;
    color: black;
    width: 75px;
    height: 75px;
}

.border-red {
    border: 2px solid #E23123;
}

.border-green {
    border: 2px solid #77F94F;
}

.border-orange {
    border: 2px solid #EB893A;
}

.card-time-insulin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.card-time-summary {
    margin-top: 5px;
}

.card-insulin-summary {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 11px;
}

.card-insulin-summary p {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 12px;
}

.card-summary button {
    z-index: 98;
}

.card-summary a {
    text-decoration: none !important;
}

.delete-btn {
    flex-grow: 5;
    display: flex;
    justify-content: flex-end;
}

.delete-btn button {
    background: none;
    background-color: white !important;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    text-decoration: none !important;
}

.delete-btn i {
    color: black;
    font-size: 20px;
}

.card-date {
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -15px;
}

.blood-sugar-output {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -8px;
}

.unit-output {
    opacity: 0.4;
}

@media only screen and (max-width: 768px) {
    .card-summary {
        width: 350px;
    }

    .card-date {
        width: 350px;
    }

    .card-insulin-summary {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 18px;
    }

    .card-insulin-summary p {
        margin-top: -10px;
    }

    .height-for-three {
        height: 150px !important;
        color: red;
    }
}