.link-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.link-list-item1 {
    cursor: pointer;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: 200ms;
    color: black;
}

.link-list-item2 {
    margin-right: 80px;
}

.link-list-item1:hover {
    transition: 200ms;
    opacity: 0.7;
}

.link-list-item1 a i {
    font-size: 20px;
}

.fas {
    transition: 200ms;
    color: #EA3223;
}

.fas:hover {
    transition: 200ms;
    opacity: 0.7;
}

.link-list img {
    width: 100px;
    height: 50px;
}