.signedin-links-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.link-signout {
    cursor: pointer;
    padding: 0 20px;
    font-size: 18px;
    transition: 200ms;
}

.link-signout a {
    text-decoration: none !important;
    color: black;
}

.link-signout a:hover {
    color: black;
}

.link-add {
    margin-right: 80px;
    margin-top: 10px;
}

.link-signout:hover {
    transition: 200ms;
    opacity: 0.7;
}

.link-signout a i {
    font-size: 20px;
}

.fas {
    transition: 200ms;
    color: #EA3223;
}

.fas:hover {
    transition: 200ms;
    opacity: 0.7;
}

.signedin-links-list img {
    width: 100px;
    height: 50px;
}

/* Responsive */

@media only screen and (max-width: 768px) {
    .link-signout {
        font-size: 18px;
        padding-right: -10px;
    }

    .link-add {
        font-size: 12px;
        margin-bottom: -12px;
        margin-left: 20px;
    }

    .link-dashboard{
        margin-right: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .link-add {
        margin-left: 20px;
    }

    .link-signout {
        margin-right: 31px;
    }
}