@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

html, body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
}