.signin-container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form h5 {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.input-field {
    width: 200%;
}

.input-field input[type=email]:focus+label {
    color: #EA3223 !important;
}

.input-field input[type=email]:focus,
.input-field input[type=email]:active,
.input-field input[type=email].valid {
    border-bottom: 1px solid #EA3223 !important;
    box-shadow: 0 1px 0 0 #EA3223 !important;
}

.input-field input[type=password]:focus+label {
    color: #EA3223 !important;
}

.input-field input[type=password]:focus,
.input-field input[type=password]:active,
.input-field input[type=password].valid {
    border-bottom: 1px solid #EA3223 !important;
    box-shadow: 0 1px 0 0 #EA3223 !important;
}

.input-field input[type=text]:focus+label {
    color: #EA3223 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=text]:active,
.input-field input[type=text].valid {
    border-bottom: 1px solid #EA3223 !important;
    box-shadow: 0 1px 0 0 #EA3223 !important;
}

.signin-form .signin-button {
    margin-top: 40px;
    background-color: #EA3223;
    color: white;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 15px;
    transition: 200ms;
}

.signin-form .signin-button:hover {
    opacity: 0.8;
    transition: 200ms;
}

.signin-form .signin-button:active {
    background-color: #EA3223 !important;
}

.signin-form .signin-button:focus {
    outline: none;
}